
<br>
<div class="card-body">
  <div *ngFor="let comment of comments$ | async" class="comment">
    {{comment.name}}:
    {{ comment.message }}
  </div>

  <div class="form-group mt-3">
    <label for="commentTextarea">Comentario:</label>
    <textarea
      id="commentTextarea"
      class="form-control"
      [(ngModel)]="newmensaje"
      placeholder="Añadir comentario..."
      rows="3"
    ></textarea>
  </div>

  <div class="form-group mt-3">
    <label for="nameTextarea">Nombre:</label>
    <textarea
      id="nameTextarea"
      class="form-control"
      [(ngModel)]="name"
      placeholder="Añadir nombre"
      rows="1"
    ></textarea>
  </div>

  <button class="btn btn-primary" (click)="publicarMensaje(name, newmensaje)">Enviar Comentario</button>
</div>
