
<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="icon" type="image/png" href="logo1.png">
  <title>prueba API</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="dinocromos.component.css">
  <script src="app.js"></script>
</head>

<body>


    <h1>LA TIENDA EN CASA</h1>


  <main id="main">

    <div id="contenedor" class="contenedor">
        <div>
            <img src="https://i.pinimg.com/564x/7d/d9/f7/7dd9f7756eb196c3a095abb2782672f5.jpg">
            <div class="informacion">
                <p>Cromo dinosaurio maruja</p>
                <p class="precio">$9<span>.99</span></p>
                <button onclick="addToCart ({ id: 1, name: 'Cromo dinosaurio maruja'})" id="addCart">Comprar</button>
            </div>
        </div>
        <div>
            <img src="https://pbs.twimg.com/media/DaO14FYVAAUGF7D?format=jpg&name=small">
            <div class="informacion">
                <p>Cromo dinosaurio cuñado</p>
                <p class="precio">$9<span>.99</span></p>
                <button onclick="addToCart ({ id: 2, name: 'Cromo dinosaurio cuñado'})" id="addCart">Comprar</button>
            </div>
        </div>
        <div>
            <img src="https://i.pinimg.com/564x/44/5a/19/445a19a7bc0a3f9c22bb4cbb9d9ff40f.jpg">
            <div class="informacion">
                <p>Cromo dinosauria MILF</p>
                <p class="precio">$59<span>.99</span></p>
                <button onclick="addToCart ({ id: 3, name: 'Cromo dinosauria MILF'})" id="addCart">Comprar</button>
            </div>
        </div>
        <div>
            <img src="https://i.pinimg.com/564x/ab/0d/38/ab0d38af9ab18a023ee2dca40eb07ba3.jpg">
            <div class="informacion">
                <p>Cromo moco de dinosaurio</p>
                <p class="precio">$9<span>.99</span></p>
                <button onclick="addToCart ({ id: 4, name: 'Cromo moco de dinosaurio'})" id="addCart">Comprar</button>
            </div>
        </div>
        <div>
            <img src=" https://i.pinimg.com/564x/de/62/59/de62590ccebc3a315603b09b36f57b24.jpg">
            <div class="informacion">
                <p>Cromo dinosaurio alienigena</p>
                <p class="precio">$9<span>.99</span></p>
                <button onclick="addToCart ({ id: 5, name: 'Cromo dinosaurio alienigena'})" id="addCart">Comprar</button>
            </div>
        </div>
        <div>
            <img src="https://i.pinimg.com/564x/81/0e/75/810e7594418760ecfa9fedea60f12ff4.jpg">
            <div class="informacion">
                <p>Cromo dino murcielago</p>
                <p class="precio">$9<span>.99</span></p>
                <button onclick="addToCart ({ id: 6, name: 'Cromo dinosaurio murcielago'})" id="addCart">Comprar</button>
            </div>
        </div>
        <div>
            <img src="https://i.pinimg.com/564x/b2/08/e0/b208e06ed873b987ec216e502a1a88a9.jpg">
            <div class="informacion">
                <p>Cromo dinosauria bruja</p>
                <p class="precio">$9<span>.99</span></p>
                <button onclick="addToCart ({ id: 7, name: 'Cromo dinosauria bruja'})" id="addCart">Comprar</button>
            </div>
        </div>
        <div>
            <img src=" https://i.pinimg.com/564x/4f/cb/7a/4fcb7a889d30ea9c0d886a70222de830.jpg">
            <div class="informacion">
                <p>Cromo dinosauria bruja</p>
                <p class="precio">$9<span>.99</span></p>
                <button onclick="addToCart ({ id: 8, name: 'Cromo dinosauria bruja'})" id="addCart">Comprar</button>
            </div>
        </div>
        <div>
            <img src="https://i.pinimg.com/564x/6c/20/c2/6c20c263df6e2dcfe15e25e04efe5934.jpg">
            <div class="informacion">
                <p>Cromo dinosaurio tactico</p>
                <p class="precio">$10<span>.99</span></p>
                <button onclick="addToCart ({ id: 9, name: 'Cromo dinosaurio tactico'})" id="addCart">Comprar</button>
            </div>
        </div>
        <div>
            <img src="https://i.pinimg.com/564x/ea/58/59/ea585964f17845bef5d2f49799cca906.jpg">
            <div class="informacion">
                <p>Cromo dinosaurio mamado</p>
                <p class="precio">$9<span>.99</span></p>
                <button onclick="addToCart ({ id: 10, name: 'Cromo dinosaurio mamado'})" id="addCart">Comprar</button>
            </div>
        </div>
    </div>



    https://i.pinimg.com/564x/ea/58/59/ea585964f17845bef5d2f49799cca906.jpg
    <div  id="cart"></div>


  </main>
  <footer>
    <p>© 2023 - pagina web</p>
  </footer>
</body>

</html>
