
h1{
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #333; /* Puedes ajustar el color de fondo según tus preferencias */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: white; /* Puedes ajustar el color del texto según tus preferencias */
}

.greeting {
  color: #fff; /* Color de texto */
  margin-right: 20px; /* Espaciado a la derecha */
}

img{

  width: 98%;
  height: 98%;
  object-fit: cover;

}

.imagen {

  display: flex;
  justify-content: center;

  align-items: center;
}

button{
  background-color: #513A2A;
  color: blanchedalmond;
  /* font-weight: bold; */
  cursor: pointer;
  text-align: center; /* Centra el texto horizontalmente dentro del botón */
  padding: 20px; /* Agrega algo de relleno para que el texto no esté tan cerca del borde */
  border-radius: 50px; /* Agrega esquinas redondeadas al botón */
  border: unset; /* Elimina el borde del botón */
  display:flex; /* Establece la visualización en línea-flex */
  justify-content: center;
  align-items: center;
  width: 80%; /* Establece el ancho del botón */
}
