
<h1>Esatas viendo la paina principal</h1>
<app-boton-dino-random ngSkipHydration></app-boton-dino-random>
<h3>Linea temporl a escala de la vida de los dinosaurios en comparacion de los homo sapiens</h3>
<img src="./../../assets/img/pixiltemp.png"  alt="imagen1">
<!-- <p>home works!</p>
<a routerLink="login" href="login">Iniciar Sesión</a>
<a routerLink="register" href="register">Registro</a> -->

      <!-- <div *ngIf="!loggedInUsers" >
        <li><a routerLink="login" href="login">Iniciar Sesión</a></li>
        <li><a routerLink="register" href="register">Registro</a></li></div>

      <div *ngIf="loggedInUsers" class="greeting">Hola, {{ loggedInUsers }}!</div>


<button *ngIf="loggedInUsers" (click) ="onLogout()">Logout</button> -->
